<section class="block block-testimonial">
  <header class="block--header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, tenetur!
    </p>
  </header>
  <div class="block--container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            class="block-testimonial__image"
            src="/images/testimonial.webp"
            alt="Images profile"
          />
          <span class="icon-container icon-container__accent">
            <svg class="icon icon--white">
              <use xlink:href="../images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quotes">
          <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti,
            veniam distinctio. Suscipit nesciunt quibusdam voluptate rerum
            commodi quisquam consequatur expedita soluta!
          </p>
          <footer>
            <div class="media">
              <div class="div media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="../images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="div media__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="quote__organization">CMRP Company Ceo</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
