<section class="block block--dark block--skewed-rigth block-showcase">
  <header class="block--header">
    <h2 class="block__heading">Heading</h2>
  </header>
  <div class="block--container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img src="/images/ipad.webp" alt="" />
    </picture>
    <ul class="list">
      <li class="list__item">
        <div class="media">
          <div class="div media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="div media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores architecto vel quidem saepe pariatur porro dolores
              consectetur sit ipsam iste.
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="div media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="div media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores architecto vel quidem saepe pariatur porro dolores
              consectetur sit ipsam iste.
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="div media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="div media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores architecto vel quidem saepe pariatur porro dolores
              consectetur sit ipsam iste.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
