<section class="block block--container">
  <header class="block--header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, tenetur!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-rigth">
  <div class="block--container">
    <header class="block--header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis,
        tenetur!
      </p>
    </header>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="block--container">
    <header class="block--header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis,
        tenetur!
      </p>
    </header>
  </div>
</section>
