<div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <span>
        <svg class="icon icon--primary">
          <img class="collapsible__icon" src="/images/chevron.svg" alt="">
        </svg>
      </span>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 2</h2>
      <span>
        <svg class="icon icon--primary">
          <img class="collapsible__icon" src="/images/chevron.svg" alt="">
        </svg>
      </span>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>