<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/testimonial.jpg" alt="Images profile" />
      <span class="icon-container icon-container__accent">
        <svg class="icon icon--white">
          <use xlink:href="../images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quotes">
      <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti,
        veniam distinctio. Suscipit nesciunt quibusdam voluptate rerum commodi
        quisquam consequatur expedita soluta, aliquam accusantium mollitia
        velit? Beatae animi ad doloremque quisquam!
      </p>
      <footer>
        <div class="media">
          <div class="div media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="../images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="div media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="quote__organization">Mosh Company ceo</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
